[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=b9c01dc4-f757-4d58-8bdb-2a6679deaf7a
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
version=2
