[Desktop Entry]
Name=EA
Exec=env WINEPREFIX="/home/tommi/Games/ea-desktop" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\EA\\\\EA.lnk
Type=Application
StartupNotify=true
Path=/home/tommi/Games/ea-desktop/dosdevices/c:/Program Files/Electronic Arts/EA Desktop/EA Desktop
Icon=8A48_EALauncher.0
StartupWMClass=ealauncher.exe
