[Desktop Entry]
Icon=text-html
Name=IMG_7939.png
Type=Link
URL[$e]=https://cdn.discordapp.com/attachments/580828710085853184/964114317731573770/IMG_7939.png
X-KDE-LastOpenedWith=firefox
