[Desktop Entry]
Icon=application-x-compressed-tar
Name=kde-cyberpunk-config.tar.gz
Type=Link
URL[$e]=file:$HOME/Lataukset/kde-cyberpunk-config.tar.gz
X-KDE-LastOpenedWith=org.kde.kdialog
