[Desktop Entry]
Icon=inode-directory
Name=mykdeconfig
Type=Link
URL[$e]=file:$HOME/Asiakirjat/GitHub/mykdeconfig
X-KDE-LastOpenedWith=org.kde.dolphin
