[Desktop Entry]
Icon=image-png
Name=screenshot.png
Type=Link
URL[$e]=file:$HOME/.config/plasmaConfSaver/default/screenshot.png
X-KDE-LastOpenedWith=org.kde.spectacle
