[Desktop Entry]
Icon=application-x-ms-dos-executable
Name=TRAOD_P4.exe
Type=Link
URL[$e]=file:///media/pelissd/SteamLibrary/steamapps/common/Tomb Raider (VI) The Angel of Darkness/bin/TRAOD_P4.exe
X-KDE-LastOpenedWith=com.usebottles.bottles
