[Desktop Entry]
Icon=github-desktop
Name=
Type=Link
URL[$e]=x-github-desktop-dev-auth://oauth?code=873f014e15964116ceb5&state=23e72660-a3c1-49ac-968c-f01869650936
X-KDE-LastOpenedWith=github-desktop
