[Desktop Entry]
Icon=text-html
Name=
Type=Link
URL[$e]=https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/
X-KDE-LastOpenedWith=firefox
