[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=application/vnd.ms-wpl;
Exec=env WINEPREFIX="/media/pelissd/SteamLibrary/steamapps/compatdata/221040/pfx" wine start /ProgIDOpen WPLFile %f
NoDisplay=true
StartupNotify=true
Icon=4025_wmplayer.0
