[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=audio/basic;
Exec=env WINEPREFIX="/media/pelissd/SteamLibrary/steamapps/compatdata/221040/pfx" wine start /ProgIDOpen AUFile %f
NoDisplay=true
StartupNotify=true
Icon=4025_wmplayer.0
