[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/media/pelissd/GOG/Thea 2 The Shattering/prefix" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
Icon=2E40_notepad.0
