[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=audio/midi;
Exec=env WINEPREFIX="/media/pelissd/SteamLibrary/steamapps/compatdata/221040/pfx" wine start /ProgIDOpen MIDFile %f
NoDisplay=true
StartupNotify=true
Icon=4025_wmplayer.0
