[Desktop Entry]
Type=Application
Name=Windows Media Player
MimeType=audio/x-mpegurl;
Exec=env WINEPREFIX="/media/pelissd/SteamLibrary/steamapps/compatdata/221040/pfx" wine start /ProgIDOpen M3UFile %f
NoDisplay=true
StartupNotify=true
Icon=4025_wmplayer.0
